body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #415036;
}

.list {
    background: #caf5f5;
    width: 450px;
    border-radius: 10px;
    padding: 30px 30px 20px;
}

.list img {
    height: 43px;
    width: 43px;
    object-fit: cover;
    border-radius: 20%;
    margin-right: 15px;
}

.list .item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px 13px;
    border-radius: 6px;
}

.item .details {
    display: flex;
    align-items: center;
}

.item .details span {
    font-size: 1.3rem;
}

.item.drag :where(.details, i) {
    opacity: 0;
}